@{
    ViewBag.Title = "Home";
}

<section class="row">
    <article class="post col-md-6">
        <h2 class="title">Заглавие на пост</h2>
        <div class="about">
            Публикувано на <i>1-Jul-2016</i> от <i>Kostadin Kostadinov</i>
        </div>
        <div class="body">Post content comes here
        <p>Текст</p>
        </div>
    </article>
    <article class="post col-md-6">
        <h2 class="title">Заглавие на пост</h2>
        <div class="about">
            Публикувано на <i>1-Jul-2016</i> от <i>Kostadin Kostadinov</i>
        </div>
        <div class="body">
            Post content comes here
            <p>Текст</p>
        </div>
    </article>
    <article class="post col-md-6">
        <h2 class="title">Заглавие на пост</h2>
        <div class="about">
            Публикувано на <i>1-Jul-2016</i> от <i>Kostadin Kostadinov</i>
        </div>
        <div class="body">
            Post content comes here
            <p>Текст</p>
        </div>
    </article>
    <article class="post col-md-6">
        <h2 class="title">Заглавие на пост</h2>
        <div class="about">
            Публикувано на <i>1-Jul-2016</i> от <i>Kostadin Kostadinov</i>
        </div>
        <div class="body">
            Post content comes here
            <p>Текст</p>
        </div>
    </article>
</section>